/* BASE STYLES */

body {
    background-image: url(../images/b4.jpg);
    font-family: 'Inconsolata', monospace;
}

/* HEADER STYLES */
.header {
    font-family: 'Shrikhand', cursive;
    color: #EE401E;
    font-size: 18px;
    text-align: center;
}

.jumbotron {
    background-color: #FEE1E2;
    border-radius: 0;   
}
.heading {
    font-family: 'Shrikhand', cursive;
}

.city {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 20px;
}

/* SEARCH FIELD */

.input-city {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    border: none;
    background-color:#8EA424;
}
.btn:hover {
    border-radius: 0;
    border: none;
    background-color: #F9BD3E;
    color: #7c3f0a;
}

/* SEARCH OUTPUT BOX */


/* WEATHER OUTPUT STYLES */

span {
    font-size: 22px;
}

.box {
    border: 3px solid #8EA424;
    padding: 10px;
    margin: 10px -15px;
    background-color:#EBB122;
    color:white;
}

/* 5-DAY FORECAST OUTPUT STYLES */