/* BASE STYLES */

body {
    background-image: url(../images/b4.jpg);
    font-family: 'Inconsolata', monospace;
}

/* HEADER STYLES */
.header {
    font-family: 'Shrikhand', cursive;
    color: #EE401E;
    font-size: 18px;
    text-align: center;
    margin: 5vw;
}

.heading {
    font-family: 'Shrikhand', cursive;
}

.city {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 20px;
}

/* SEARCH FIELD */


/* SEARCH OUTPUT BOX */


/* WEATHER OUTPUT STYLES */

span {
    font-size: 22px;
}
.box {
    border: 3px solid #8EA424;
    padding: 10px;
    margin: 10px -15px;
    background-color:#EBB122;
    color:white;
}

/* 5-DAY FORECAST OUTPUT STYLES */